@import url('https://fonts.googleapis.com/css?family=PT+Sans:400');

html {
  height: 100%;
}

body {
  font-family: 'PT Sans', sans-serif;
  background: #FEFEFE;
  color: #212121;
  font-size: 16px;
  height: 100%;
  letter-spacing: 1px;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 16px;
  max-width: 560px;
}

header,
.content {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

header {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  text-decoration: none;
  color: #212121;
  font-size: 18px;
  margin: 0 8px;
  border-bottom: 2px solid transparent;
}

header nav a:hover,
header nav a.active {
  border-bottom: 2px solid currentColor;
}

header a img {
  padding: 8px;
}

.main {
  padding: 0 24px 24px;
}

.home {
  background: linear-gradient(0, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%), url(../images/background.bda44df2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  box-sizing: border-box;
}

.home header a img {
  background: #FEFEFE;
}

.home header nav a {
  color: #FEFEFE;
}

.home h1 {
  font-size: 32px;
  color: #FEFEFE;
  width: 90%;
  max-width: 500px;
  text-align: center;
  line-height: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about .content article,
.about .content img {
  width: 100%;
}

@media (min-width: 768px) {
  .about .content article,
  .about .content img {
    width: 48%;
  }
}

.products .content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.products .content img {
  width: 50%;
}

@media (min-width: 768px) {
  .products .content img {
    width: 25%;
  }
}
