<section class="main home">
  <article>
    <p>Artisok is a collaboration between Marieke Luthart and Jolien Wallis de Vries.</p>
    <p>
      Our products are made by hand with passion. Each product contains illustrations that are inspired by creatures, stories and places that we find during our journeys around the world. This way we try to bring different cultures closer to you and closer together. At the moment we are inspiring for our new collection in Dakar, Senegal
    </p>
    <p>Put on your fresh designed Artisoks and join our dance!</p>
  </article>
  <img src="./assets/images/home.03f58843.jpg" alt="Artisok" />
</section>
