<section class="main products">
  <header>
    <a href="/">
      <img src="./assets/images/logo.145770c2.svg" alt="Artisok" />
    </a>
    <nav>
      <a href="./products.html">products</a>
      <a href="https://tictail.com/artisok" target="_blank" rel="noopener noreferrer" class="shop">
        shop
      </a>
      <a href="./about.html">about</a>
    </nav>
  </header>
  <section class="content">
    <img src="./assets/images/products1.76754782.jpg" alt="products" />
    <img src="./assets/images/products2.b7f2dee1.jpg" alt="products" />
    <img src="./assets/images/products3.75d5297b.jpg" alt="products" />
    <img src="./assets/images/products4.74d353a4.jpg" alt="products" />
  </section>
</section>
