@font-face {
	font-family: 'PT Sans Narrow';
	font-weight: normal;
	src: url(../fonts/PT_Sans-Narrow-Web-Regular.ttf);
}

@font-face {
	font-family: 'PT Sans Narrow';
	font-weight: bold;
	src: url(../fonts/PT_Sans-Narrow-Web-Bold.ttf);
}
