html {
  font-family: 'PT Sans Narrow';
  font-weight: normal;
}

body {
  background: $white;

  color: $black;
}

main {
  display: flex;

  min-height: 100vh;

  flex-direction: column;

  > section {
    flex: 1;
  }
}

a {
  color: $black;
}
