header {
  width: 100%;

  padding: 1.5rem 0;

  img {
    display: block;

    width: 20%;

    margin: 0 auto;
    margin-bottom: 1.5rem;

    cursor: pointer;
  }
}

nav {
  text-align: center;

  li {
    display: inline;

    margin: 0 1rem;

    font-size: 1.1rem;
    text-transform: uppercase;

    cursor: pointer;

    &:hover {
      border-bottom: 2px solid;
    }

    a {
      text-decoration: none;
    }

  }

}
