.home {
  iframe {
    display: block;

    margin: 1rem auto;
  }
}

.products {
  text-align: center;

  section {
    @include calc(width, '25% - 2rem');

    margin: 0 1rem;

    float: left;

    > img {
      cursor: zoom-in;
    }
  }

  p {
    margin-bottom: 1rem;
  }

  img {
    width: 100%;
    height: auto;
  }

  div {
    @include animation(fadeIn .5s ease-in-out);

    img {
      cursor: zoom-out;
    }
  }
}

.info {
  article {
    width: 50%;

    margin: 2rem auto;

    h1 {
      font-weight: bold;
    }

    h1,
    p {
      margin-bottom: 1rem;
    }
  }
}
